*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    
}
img{
    max-width: 100%; // set img as responsive
}
html{
    font-size: 62.5%;
    @include responsive(1280px){
        font-size: 55%;
    }
}