$white: #FFFFFF;
$purple: #5F3CA1;
$yellow: #FFBF00; /* usually has to be different variables names, because if the colour changes you do not need to change all the variables */
$grey-01: #453F51;
$grey-02: #5E5570;
$light-purple: #C5BEDC;
